{% load static %}
<html>
    <head>
        {% csrf_token %}
        <meta charset="utf-8">
        <title>Scheduler Login</title>
            <link rel="stylesheet" type="text/css" href="{%  static  'styles.css'  %}">
            <link rel="stylesheet" href="{%  static  'cdnStyle1.css'  %}">
            <link rel="stylesheet" href="{%  static  'cdnStyle2.css'  %}">
            <link rel="shortcut icon" href="{%  static  'favicon.ico'  %}">
            <link rel="stylesheet" href="{%  static  'svg-with-js.css'  %}">
            <link rel="stylesheet" href="{%  static  'svg-with-js.min.css'  %}">
            <link rel="stylesheet" href="{%  static  'all.css'  %}">
            <link rel="stylesheet" href="{%  static  'all.min.css'  %}">
            <link rel="stylesheet" href="{%  static  'fa-solid-900.ttf'  %}">
            <link rel="stylesheet" href="{%  static  'fa-solid-900.woff'  %}">
            <link rel="stylesheet" href="{%  static  'fa-solid-900.woff2'  %}">
            <link rel="stylesheet" href="{%  static  'coolButton.css'  %}">
            <link rel="stylesheet" href="{%  static  'coolButton.css'  %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width">
  	</head>
    <body>
        
    <nav class="fixed top-0 inset-x-0 h-12 z-10 text-gray-800 tracking-widest border-b">
    	<div class="h-full bg-white flex w-full max-w-6xl mx-auto">
    		<div class="flex-none w-56 px-2 flex items-center">
    			<a class="cursor-pointer font-bold tracking-wider text-gray-800 hover:text-gray-600 transition duration-200 ease-in-out flex items-center gap-3" href="/dashboard">
    				<span class="w-9 h-9 rounded-full flex items-center justify-center bg-yellow-200">
    					<i class="fa fa-calendar" aria-hidden="true"></i>
    				</span>
    				TA Scheduler
    			</a>
    		</div>
    		<div class="flex-grow flex items-center px-2">
    		</div>
    		<div class="flex-none flex w-40 px-2">
    			<div class="flex-grow flex items-center justify-end gap-2">
    				<a class="w-9 h-9 cursor-pointer rounded-full flex items-center justify-center hover:bg-yellow-300 transition duration-200 ease-in-out" href="/notifications">
    					<i class="fas fa-bell text-gray-900"></i>
    				</a>
    				<span class="relative" x-data="{dropdown:false}" x-cloak>
    					<a class="w-9 h-9 rounded-full flex items-center justify-center hover:bg-yellow-300 transition duration-200 ease-in-out focus:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-yellow-200 border border-white" x-on:click="dropdown=!dropdown" href="/account">
    						<i class="fas fa-user text-gray-900"></i>
    					</a>
    				</span>
    			</div>
    		</div>
    	</div>
    </nav>

    <section class="mt-12 text-gray-800 tracking-widest w-full max-w-6xl mx-auto flex min-h-screen">
        
        
    	<nav class="w-56 flex-none text-gray-800 tracking-widest border-r">
    		<div class="h-full flex flex-col gap-2 p-2">
    			<div class="py-2 flex flex-col gap-1">
    				<a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" style="hover:yellowHover;" href="/dashboard">
    					<i class="fa fa-home text-sm w-8" aria-hidden="true"></i>
    					<p class="font-semibold">Home</p>
    				</a>
    				<a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" href="/createCourse">
    					<i class="fas fa-plus-circle text-sm w-8"></i>
    					<p class="font-semibold">Create Courses</p>
    				</a>
    				<a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" href="/assignCourse">
    					<i class="fas fa-thumbtack text-sm w-8"></i>
    					<p class="font-semibold">Assign Courses</p>
    				</a>
    			</div>
    		</div>
    	</nav>
    	<div class="p-4 flex flex-col md:flex-row md:items-start gap-8" x-data="{tab:'account'}">
    		<div class="w-56 text-xs">
    			<div class="flex flex-col border rounded overflow-hidden divide-y divide-gray-200">
    				<button type="button" class="text-left px-4 py-2 cursor-pointer focus:outline-none tracking-widest transition duration-200m ease-in-out relative" x-bind:class="{'bg-gray-100': tab!=='account'}" x-on:click="tab='account'">
    					<span x-bind:class="{'absolute right-0 inset-y-0 w-1 bg-green-500': tab==='account'}"></span>
    					Personal Info
    				</button>
    				<button type="button" class="text-left px-4 py-2 cursor-pointer focus:outline-none tracking-widest transition duration-200m ease-in-out relative" x-bind:class="{'bg-gray-100': tab!=='security'}" x-on:click="tab='security'">
    					<span x-bind:class="{'absolute right-0 inset-y-0 w-1 bg-green-500': tab==='security'}"></span>
    					Account Settings
    				</button>
    				<a type="button" class="text-left px-4 py-2 cursor-pointer focus:outline-none tracking-widest transition duration-200m ease-in-out relative" x-bind:class="{'bg-gray-100': tab!=='security'}" x-on:click="tab='logout'" href="/login">
    					<span x-bind:class="{'absolute right-0 inset-y-0 w-1 bg-green-500': tab==='security'}"></span>
    					Logout
    				</a>
    			</div>
    		</div>
    		<form class="flex-grow max-w-lg">
    			<div class="flex flex-col gap-8">
    				<!-- PERSONAL -->
    				<div class="flex flex-col gap-2" x-show="tab==='account'">
    					<h1 class="font-bold text-2xl">Personal Info</h1>
    					<hr class="my-2">
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">First Name</label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">Last Name</label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">Email Address <span class="text-gray-400" style="font-size:10px"></span></label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">Username<span class="text-gray-400" style="font-size:10px"></span></label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex justify-end">
    						<button class="bg-blue-500 hover:bg-blue-600 transition duration-200 ease-in-out rounded text-xs px-3 py-2 tracking-widest text-white font-semibold focus:outline-none">Save</button>
    					</div>
    				</div>
    				<!-- PASSWORD -->
    				<div class="flex flex-col gap-2" x-show="tab==='security'">
    					<h1 class="font-bold text-2xl">Credential</h1>
    					<hr class="my-2">
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">Current Password</label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">New Password</label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex flex-col gap-1">
    						<label class="font-semibold text-xs">Confirm New Password</label>
    						<input type="text" class="appearance-none px-4 py-2 text-xs tracking-widest border border-gray-200 rounded focus:outline-none focus:ring-4 focus:ring-gray-200 focus:border-transparent bg-white transition duration-200 ease-in-out">
    					</div>
    					<div class="flex justify-end">
    						<button class="bg-blue-500 hover:bg-blue-600 transition duration-200 ease-in-out rounded text-xs px-3 py-2 tracking-widest text-white font-semibold focus:outline-none">Save</button>
    					</div>
    				</div>
    			</div>
    		</form>
    	</div>
    </section>



	
	    </body>
</html>
