{% load static %}
<html>
      <head>
        {% csrf_token %}
        <meta charset="utf-8">
        <title>Scheduler Login</title>
        <link rel="stylesheet" type="text/css" href="{%  static  'styles.css'  %}">
        <link rel="stylesheet" href="{%  static  'cdnStyle1.css'  %}">
        <link rel="stylesheet" href="{%  static  'cdnStyle2.css'  %}">
        <link rel="shortcut icon" href="{%  static  'favicon.ico'  %}">
        <link rel="stylesheet" href="{%  static  'svg-with-js.css'  %}">
        <link rel="stylesheet" href="{%  static  'svg-with-js.min.css'  %}">
        <link rel="stylesheet" href="{%  static  'all.css'  %}">
        <meta name="viewport" content="width=device-width">
  	</head>
    <body>
        <center>
    	    <br><br>
    	    <h1 class="font-bold text-2xl"  style="margin-left: 20px;">Delete Account</h1>
    	</center>

    <nav class="fixed top-0 inset-x-0 h-12 z-10 text-gray-800 tracking-widest border-b">
    	<div class="h-full bg-white flex w-full max-w-6xl mx-auto">
    		<div class="flex-none w-56 px-2 flex items-center">
    			<a class="cursor-pointer font-bold tracking-wider text-gray-800 hover:text-gray-600 transition duration-200 ease-in-out flex items-center gap-3" href="/classProject/dashboard.html">
    				<span class="w-9 h-9 rounded-full flex items-center justify-center bg-yellow-200">
    					<i class="fa fa-calendar" aria-hidden="true"></i>
    				</span>
    				TA Scheduler
    			</a>
    		</div>
    		<div class="flex-grow flex items-center px-2">
    		</div>
    		<div class="flex-none flex w-40 px-2">
    			<div class="flex-grow flex items-center justify-end gap-2">
    				<a class="w-9 h-9 cursor-pointer rounded-full flex items-center justify-center hover:bg-yellow-300 transition duration-200 ease-in-out" href="/classProject/notifications.html">
    					<i class="fas fa-bell text-gray-900"></i>
    				</a>
    				<span class="relative" x-data="{dropdown:false}" x-cloak>
    					<a class="w-9 h-9 rounded-full flex items-center justify-center hover:bg-yellow-300 transition duration-200 ease-in-out focus:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-yellow-200 border border-white" x-on:click="dropdown=!dropdown" href="/classProject/account.html">
    						<i class="fas fa-user text-gray-900"></i>
    					</a>
    				</span>
    			</div>
    		</div>
    	</div>
    </nav>
    <center>
         <form action="/deleteAccount/" method="post">
             {% csrf_token %}
             <table>
                 <tr><td class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" style="hover:yellowHover;">Account to Delete: </td><td><input type="text" name="accToDel" required></td></tr>
             </table>
             <input input class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" style="hover:yellowHover;" type="submit" value="delete account">
         </form>
        <p class="font-semibold">{{ message }}</p>
    <h2>Current accounts</h2>
<table class="results">
    <tr>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Email</th>
    </tr>
    {% for i in entries %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td>{{i.4}}</td>
        </tr>
    {% endfor %}
</table>
    </center>
    <section class="mt-12 text-gray-800 tracking-widest w-full max-w-6xl mx-auto flex min-h-screen">
    	<nav class="w-56 flex-none text-gray-800 tracking-widest border-r">
    		<div class="h-full flex flex-col gap-2 p-2">
    			<div class="py-2 flex flex-col gap-1">

                    <a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" href="/createSection/">
    					<i class="fas fa-thumbtack text-sm w-8"></i>
    					<p class="font-semibold">Create Section</p>
    				</a>

    				<a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" href="/assignInstructor/">
    					<i class="fas fa-thumbtack text-sm w-8"></i>
    					<p class="font-semibold">Assign Instructors to Courses</p>
    				</a>

                    <a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" href="/assignTA/">
    					<i class="fas fa-thumbtack text-sm w-8"></i>
    					<p class="font-semibold">Assign TAs to Sections</p>
    				</a>

                    <a class="flex items-center text-xs rounded tracking-widest px-4 py-2 cursor-pointer hover:bg-yellow-100 transition duration-200 ease-in-out" style="hover:yellowHover;" href="/dashboard/">
    					<i class="fa fa-home text-sm w-8" aria-hidden="true"></i>
    					<p class="font-semibold">Home</p>
    				</a>

    			</div>
    		</div>
    	</nav>

    </section>

    </body>
</html>