<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hi>Edit the account dummy</hi>
<form action="/" method="post">
    <table>
        <tr><td>role: </td><td><input type="text" name="role"></td></tr>
        <tr><td>First Name: </td><td><input type="text" name="fName"></td></tr>
        <tr><td>Middle Initial: </td><td><input type="text" name="Initial"></td></tr><tr><td>Last Name: </td><td><input type="text" name="lName"></td></tr>
        <tr><td>Email: </td><td><input type="text" name="email"></td></tr>
        <tr><td>password: </td><td><input type="text" name="password"></td></tr>
    </table>
    <input type="submit" value="confirm">
</form>
</body>
</html>