<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hi>Edit the account</hi>
<form action="/" method="post">
    {% csrf_token %}
    <table>
        <tr><td><select name="role" id="role">
            {%  csrf_token% %}
            <option value="Supervisor">Supervisor</option>
            <option value="Instructor">Instructor</option>
            <option value="TA">TA</option>
            </select></td></tr>
        <tr><td>First Name: </td><td><input type="text" name="fName" value = {{ m.EMP_FNAME }}></td></tr>
        <tr><td>Middle Initial: </td><td><input type="text" name="Initial" value = {{ m.EMP_INITIAL }}></td></tr>
        <tr><td>Last Name: </td><td><input type="text" name="lName" value = {{ m.EMP_LNAME }}></td></tr>
        <tr><td>Email: </td><td><input type="text" name="email" value = {{ m.EMP_EMAIL }}></td></tr>
        <tr><td>password: </td><td><input type="text" name="password" value = {{ m.EMP_PASSWORD }}></td></tr>
    </table>
    <input type="submit" value="confirm">
</form>
</body>
</html>